html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Raleway", sans-serif;
    height: 100%;
}


h1, h2 {
    margin: 0;
    padding: 10px;
}


section {
    width: 100%; 
    height: 400px;

}

h1 {
    text-align: center;
    background-color: #2980b9;
    color: #ecf0f1;
}

h3, p {
    padding: 8px;
}

.section-content {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}



.light {
    background-color:  #ecf0f1;

}

.dark {
    background-color: #34495e;
    color: #ecf0f1;;
}



.section-card {
    height: 100%;
    width: 50%;
    float: left;
}

@media screen and (max-width: 768px) {
    section {
        height: auto;
    }
    .section-content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }    
    .section-card {
        width: 100%;
        float: none; /* Remove float to stack elements */
        display: block;
    }
    .section-card img {
        order: 2; /* Move images to come after text */
    }

    .section-card:not(:has(img)) {
        order: 1; /* Ensure text content stays first */
    }

}

.section-card img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      
}


footer {
    background-color: #2980b9;
    color: #ecf0f1;
    padding: 10px;

}

footer span {
    display: block;
    text-align: center;
    padding: 8px;
}
