html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Raleway", sans-serif;
    height: 100%;
}


h1, h2 {
    margin: 0;
    padding: 10px;
}


section, main {
    width: 100%; 
    height: 400px;

}


h3, p, form {
    padding: 8px;
}

.section-content, .main-content {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

section, main {    
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-content {
    background-color: #ecf0f1;
}



.light {
    background-color:  #ecf0f1;

}

.dark {
    background-color: #34495e;
    color: #ecf0f1;;
}



.section-card {
    height: 100%;
    width: 50%;
    float: left;
}

@media screen and (max-width: 768px) {
    section, main {
        height: auto;
    }
    .section-content, .main-content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }    
    .section-card {
        width: 100%;
        float: none; /* Remove float to stack elements */
        display: block;
    }
    .section-card img {
        order: 2; /* Move images to come after text */
    }

    .section-card:not(:has(img)) {
        order: 1; /* Ensure text content stays first */
    }

}

.section-card img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      
}


footer {
    background-color: #34495e;
    color: #ecf0f1;
    padding: 10px;

}

footer span {
    display: block;
    text-align: center;
    padding: 8px;
}

#correct {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.hide {
    display: none;
}

input[type="submit"] {
    background-color: #27ae60;
    border: none;
    padding: 8px;
}

input[type="number"] {
    padding: 8px;
    border: none;
}