nav {
    width: 100%;
    background-color: #2c3e50;
    
}

nav i, #menu i {
    padding: 14px 16px;
    color: #ecf0f1;
}


#menu {
    background-color: #2c3e50;
    width: 250px;    
    /* top: 0;
    bottom: 0; */
    height: 100%;
    z-index: 10;
    position: fixed;
    border-right: 2px solid #8e44ad;
    transition: 0.5s;
}

#menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ecf0f1;
}

#menu a:hover {
    background-color: #8e44ad;
}

.hide {
    transform: translate(-252px);
}

nav div {
    width: 90%;
    margin: 0 auto;
}
